/*'head head head groupbtn groupbtn groupbtn' 'filecard filecard filecard filecard filecard filecard'*/

/* .window{display:grid;grid-template-areas:'head head head groupbtn groupbtn groupbtn' 'filecard filecard filecard filecard filecard filecard';grid-gap:10px}
.window .path {grid-area:head;align-self: center;}
.window .controls {grid-area:groupbtn;display: flex;gap: 10px;justify-content: flex-end;}
.window .explorer {grid-area:filecard}
.controls__btn { border-radius: 5px !important;} */

.window {display: flex; flex-wrap: wrap;}
.window .path {flex: 50%;align-items: center;display: flex;}
.window .controls { flex: 50%; display: flex; justify-content: flex-end;gap: 10px;}
.window .controls .controls__btn {border-radius: 5px !important;}
.controls i { font-size: 14px;}
.explorer{display:flex;gap:20px;width:100%;border-top:1px solid #dfe6f9;margin-top:15px;padding-top:15px}
.explorer .file{padding: 10px 0;max-width:125px;flex:1 1 25%;display:flex;flex-direction:column;justify-content:flex-start;align-items:center;border: 1px solid #f0f0f0;border-radius: 5px;min-height: 130px;justify-content: space-between;position: relative;}
.explorer .file i {font-size: 50px;}
.explorer .file .fa-folder{color:#fcdb20;}
.explorer .file .fa-file{color:#51acf7}
.explorer .file .btn-group {position: absolute;right: 0; top: 0;}
.explorer .file .btn-group i {font-size: 16px;}
.file.selected {background: linear-gradient(#fdfdfd,#f0f0f0);border: 1px solid #f0f0f0;border-radius: 7px;}
.file .name {width: 100%;height: 19px;overflow: hidden;word-break: break-all;text-align: center;padding: 0 7px;}
.folder-type{font-size: 14px;font-weight: 500;}
.file-type{font-size: 12px;font-weight: 500;}

.controls button i,.controls .js-labelFile i{color:#0068ff;}
.controls button i.fa-arrow-left{color:#0068ff;}
.explorer .fa-file-word{color:#00FF00;}
.explorer .fa-file-pdf{color:#ff5353;}
.explorer .fa-file-image{color:#1E90FF}
.explorer .fa-file-video{color:#DC143C}
.explorer .fa-file-audio{color:#EE6A50}
