{% extends 'company/base.html' %}
{% load static %}
{% load candidate_extras %}
{% block title %}Company Profile View{% endblock %}
{% block css %}
		<!--create workflow CSS-->
		<link href="{% static 'assets/css/ATS/agency-profile-view.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

					<!-- Container-fluid -->
				<div class="container-fluid">

					<!-- Main-content-body -->
					<div class="main-content-body">

						<!-- header-title -->
						<div class="header-title">
							<div class="mb-0 mb-lg-0 mb-xl-0">
								<h4 class="mb-2">Components</h4>
								<div class="main-content-breadcrumb"> <span>Components</span> <span>Data-tables</span> </div>
							</div>
							<div class="ml-auto my-auto">
								<a href="#" class="btn btn-primary"><i class="fe fe-plus-square"></i> Create Report</a>
								<a href="#" class="btn btn-pink"><i class="fe fe-external-link"></i> Export</a>
							</div>
						</div>
						<!-- header-title -->

						<!-- row opened -->
						<div class="row row-sm">
							<div class="col-xl-12">
								<!-- profile-page -->
						<div class="profile-page tx-13">

							<div class="row row-sm profile-body">
								<!-- left wrapper start -->
								<!-- <div class="d-none d-md-block col-md-12 col-lg-4 col-xl-3 left-wrapper">
									<div class="card">
										<div class="card-body">
											<div class="d-flex align-items-center justify-content-between mb-2">
												<h6 class="card-title mb-0">About</h6>
												<div class="dropdown">
													<button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="bx bx-dots-horizontal-rounded tx-20"></i>
													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item d-flex align-items-center" href="#">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2">
																<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
															</svg> <span class="">Edit</span></a>
														<a class="dropdown-item d-flex align-items-center" href="#">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch icon-sm mr-2">
																<line x1="6" y1="3" x2="6" y2="15"></line>
																<circle cx="18" cy="6" r="3"></circle>
																<circle cx="6" cy="18" r="3"></circle>
																<path d="M18 9a9 9 0 0 1-9 9"></path>
															</svg> <span class="">Update</span></a>
														<a class="dropdown-item d-flex align-items-center" href="#">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye icon-sm mr-2">
																<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
																<circle cx="12" cy="12" r="3"></circle>
															</svg> <span class="">View all</span></a>
													</div>
												</div>
											</div>
											<p>Hi! I'm Mack Adamia the Senior UI Designer at Vibrant. We hope you enjoy the design and quality of Social.</p>
											<div class="mt-3">
												<label class="tx-12 font-weight-bold mb-0 text-uppercase">Joined:</label>
												<p class="text-muted">August 29, 2019</p>
											</div>
											<div class="mt-3">
												<label class="tx-12 font-weight-bold mb-0 text-uppercase">Lives:</label>
												<p class="text-muted">New York, USA</p>
											</div>
											<div class="mt-3">
												<label class="tx-12 font-weight-bold mb-0 text-uppercase">Email:</label>
												<p class="text-muted">me@admix.com</p>
											</div>
											<div class="mt-3">
												<label class="tx-12 font-weight-bold mb-0 text-uppercase">Website:</label>
												<p class="text-muted">www.admix.com</p>
											</div>
											<div class="mt-3 d-flex social-links">
												<a href="javascript:;" class="btn d-flex align-items-center justify-content-center mr-2 btn-icon github">
													<i class="bx bxl-facebook-circle tx-22 text-primary"></i>
												</a>
												<a href="javascript:;" class="btn d-flex align-items-center justify-content-center mr-2 btn-icon twitter">
													<i class="bx bxl-twitter tx-22 text-info"></i>
												</a>
												<a href="javascript:;" class="btn d-flex align-items-center justify-content-center mr-2 btn-icon instagram">
													<i class="bx bxl-google-plus-circle text-danger tx-22"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="card skills">
										<div class="card-header pb-0">
											<h5 class="card-title pb-0">Skills</h5>
										</div>
										<div class="card-body pl-3 pr-3 pb-3 pt-0 mt-0">
											<div class="chats-wrap media-list">
												<div class="chat-details mt-0 p-2 mb-1">
													<h4 class="mb-0"> <span class="h6 font-weight-normal">Html</span> <span class="float-right p-1  btn btn-sm text-default"> <b>80</b>%</span> </h4>
													<div class="progress progress-sm mt-3">
														<div class="progress-bar  bg-gradient-primary wd-75p"></div>
													</div>
												</div>
												<div class="chat-details  p-2 mb-1">
													<h4 class="mb-0"> <span class="h6 font-weight-normal"> Wordpress</span> <span class="float-right p-1  btn btn-sm text-default"> <b>50</b>%</span> </h4>
													<div class="progress progress-sm mt-3">
														<div class="progress-bar bg-secondary wd-50p"></div>
													</div>
												</div>
												<div class="chat-details  p-2 mb-1">
													<h4 class="mb-0"> <span class="h6 font-weight-normal"> jQuery</span> <span class="float-right p-1  btn btn-sm text-default"> <b>50</b>%</span> </h4>
													<div class="progress progress-sm mt-3">
														<div class="progress-bar bg-warning wd-35p"></div>
													</div>
												</div>
												<div class="chat-details  p-2 mb-1">
													<h4 class="mb-0"> <span class="h6 font-weight-normal"> Photoshop</span> <span class="float-right p-1  btn btn-sm text-default"> <b>90</b>%</span> </h4>
													<div class="progress progress-sm mt-3">
														<div class="progress-bar bg-success wd-45p"></div>
													</div>
												</div>
												<div class="chat-details p-2 mb-1">
													<h4 class="mb-0"> <span class="h6 font-weight-normal">Angular js</span> <span class="float-right p-1  btn btn-sm text-default"> <b>30</b>%</span> </h4>
													<div class="progress progress-sm mt-3">
														<div class="progress-bar bg-danger wd-50p"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card skills">
										<div class="card-header pb-0">
											<h5 class="card-title pb-2">FEEDS</h5>
										</div>
										<div class="card-body pl-3 pr-3 pb-3 pt-0">
											<div class="feeds">
												<div class="feed-items mt-0">
													<a href="#" class="">
														<div class="feed-item">
															<div class="feeds-item-img">
																<img alt="" class="rounded-circle" src="../../assets/img/faces/3.jpg">
															</div>
															<div class="d-block ml-2">
																<p class="feeds-item-author">Tomaslau</p>
																<p class="feeds-item-text">@tomaslau</p>
															</div>
														</div>
														<div class="text-warning d-flex mt-2 mb-2">
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star"></i>
														</div>
														<p class="feeds-content mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
														<p class="text-muted tx-13 mb-0">August 29, 2019</p>
													</a>
												</div>
												<div class="feed-items mb-0">
													<a href="#" class="feed-items">
														<div class="feed-item">
															<div class="feeds-item-img">
																<img alt="" class="rounded-circle" src="../../assets/img/faces/9.jpg">
															</div>
															<div class="d-block ml-2">
																<p class="feeds-item-author">Mike Popescu</p>
																<p class="feeds-item-text">@MikePopescu</p>
															</div>
														</div>
														<div class="text-warning d-flex mt-2 mb-2">
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star active"></i>
															<i class="icon ion-ios-star"></i>
														</div>
														<p class="feeds-content mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
														<p class="text-muted tx-13 mb-0">August 29, 2019</p>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- left wrapper end -->
								<!-- middle wrapper start -->
								<div class="col-md-12 col-xl-9 col-lg-9 middle-wrapper">




									<div class="main-profile-body p-0">

                                        <!--header cover section-->
                                        <div class="profile-header agency-head__view">
                                            <div class="cover">
                                                <img src="{{get_profile.company_bg.url}}" class="img-fluid wd-100p profile-cover-image" alt="profile cover">
                                                <div class="cover-body row">
                                                    <div class="col-xl-6 col-md-12">
                                                        <div class="d-flex profilepic_radius">
                                                            <img class="profile-pic" src="{{get_profile.company_logo.url}}" alt="profile">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="header-links">
                                                <div class="cover-short-detail">
                                                    <div class="top-main__info">
                                                        <h3 class="cover-main__title text-capitalize">{{get_profile.company_id.company_id.company_name}}
															<div class="candidate_view_Accept">
																<a class="btn btn-Accept btn-block" href="{% url 'company:update_profile' get_profile.id %}">Edit</a>
															</div>
														</h3>
                                                        <p class="subtitle text-capitalize">{{get_profile.industry_type.name}}</p>
                                                    </div>
                                                    <div class="allabout_viewer">
                                                        {% if get_profile.company_id.company_id.website %}
                                                            <div class="fx-icotext">
                                                                <i class="fas fa-globe"></i>
                                                                <lable>{{get_profile.company_id.company_id.website}}</lable>
                                                            </div>
                                                        {% else %}
                                                         <div class="fx-icotext">
                                                            <i class="fas fa-globe"></i>
                                                            <lable>{{get_profile.company_id.company_id.first_name}} {{get_profile.company_id.company_id.last_name}}</lable>
                                                        </div>
                                                        {% endif %}
                                                        <div class="fx-icotext">
                                                            <i class="fas fa-envelope"></i>
                                                            <lable>{{get_profile.company_id.company_id.email}}</lable>
                                                        </div>
                                                        <div class="fx-icotext">
                                                            <i class="fas fa-phone-alt"></i>
                                                            <lable>{{get_profile.contact_no1}}</lable>
                                                        </div>

                                                        <div class="fx-icotext">
                                                            <i class="fas fa-calendar-week"></i>
                                                            <lable>Founded Year - {{get_profile.founded_year}}</lable>
                                                        </div>


                                                        <div class="fx-icotext">
                                                            <i class="fas fa-users"></i>
                                                            <lable>{{get_profile.employee_count}} Employees</lable>
                                                        </div>


                                                        <div class="fx-icotext">
                                                            <i class="fas fa-building"></i>
                                                            <lable>{{get_profile.compnay_type}}</lable>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--header cover section-->


                                        <!--description container-->
                                        <div class="card">
                                            <div class="about-profile pd-t-10 pd-b-10 pd-l-15 pd-r-15">
                                                <div class="info--section">
                                                    <h5 class="text-uppercase">about us :</h5>
                                                    <p>{{get_profile.aboutus}}</p>
                                                </div>
                                                <div class="info--section">
                                                    <h5 class="text-uppercase">specialities :</h5>
                                                        <p>{{get_profile.speciality}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--description container end-->
                                    {% if get_profile.address %}
										<div class="descriptive_contract_details card pd-t-10 pd-b-10 pd-l-15 pd-r-15">
											<div class="descriptive_detail_no">
												<div class="contract_heading">
													<div class="cardtitle">Location :</div>
												</div>
											</div>
											<div class="details_text">
												<div class="details_text_location">{{get_profile.address}}<br>{{get_profile.city.city_name}}<br>{{get_profile.state.state_name}}, {{get_profile.country.country_name}}.</div>

											</div>
										</div>
                                    {% endif %}
									</div><!-- main-profile-body -->
								</div>
								<!-- middle wrapper end -->
								<!-- right wrapper start -->
								<div class="d-none d-xl-block col-lg-12 col-xl-3 right-wrapper">
                                    <div class="fx-sticky-right-col">
                                        <div class="row row-sm">
                                            <!-- <div class="col-md-12 grid-margin">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="card-title pl-0">latest photos</h6>
                                                        <div class="row row-sm ">
                                                            <div class="col-lg-4 pl-1 pr-1 mb-2">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/5.jpg" alt=""></a>
                                                            </div>
                                                            <div class="col-lg-4 pl-1 pr-1 mb-2">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/12.jpg" alt=""></a>
                                                            </div>
                                                            <div class="col-lg-4 pl-1 pr-1 mb-2">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/17.jpg" alt=""></a>
                                                            </div>
                                                            <div class="col-lg-4 pl-1 pr-1 mb-0">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/13.jpg" alt=""></a>
                                                            </div>
                                                            <div class="col-lg-4 pl-1 pr-1 mb-0">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/2.jpg" alt=""></a>
                                                            </div>
                                                            <div class="col-lg-4 pl-1 pr-1 mb-0">
                                                                <a href="" class="member"> <img src="../../assets/img/faces/15.jpg" alt=""></a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-md-12">

												<div class="card skills completed_user_job_details">

                                                    <div class="card-body p-0">
                                                        <div class="inbox-widget">
                                                            <div class="clients_total_users">
                                                                <div class="inbox-item">
                                                                    <div class="inbox-item-img">
																		<i class="fas fa-users"></i>
                                                                    </div>
																	<p class="inbox-item-text">Candidate Database</p>
                                                                    <p class="inbox-item-author fb">{{get_internalcandidate}}+</p>

                                                                </div>
                                                            </div>
                                                            <div class="clients_total_users">
                                                                <div class="inbox-item">
                                                                    <div class="inbox-item-img">
                                                                        <i class="fas fa-user-check"></i>
                                                                    </div>
                                                                    <p class="inbox-item-text">Job Completed</p>
                                                                    <p class="inbox-item-author fg">{{completed_job}}+</p>
                                                                </div>
                                                            </div>
<!--                                                            <div class="clients_total_users">-->
<!--                                                                <div class="inbox-item">-->
<!--                                                                    <div class="inbox-item-img">-->
<!--                                                                        <i class="fas fa-user-tie"></i>-->
<!--                                                                    </div>-->
<!--                                                                    <p class="inbox-item-text">Worldwide Clients</p>-->
<!--																	<p class="inbox-item-author fp">4,000+</p>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            <div class="clients_total_users">-->
<!--                                                                <div class="inbox-item">-->
<!--                                                                    <div class="inbox-item-img">-->
<!--                                                                        <i class="fas fa-industry"></i>-->
<!--                                                                    </div>-->
<!--                                                                    <p class="inbox-item-text">Industry Served</p>-->
<!--                                                                    <p class="inbox-item-author fy">50+</p>-->
<!--                                                                </div>-->
<!--                                                            </div>-->

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card suggestions job-suggest-list">
                                                    <div class="card-body p-0">
                                                        <div class="card-header pb-0">
                                                            <h5 class="card-title pb-0 text-uppercase">similer jobs with organization</h5>
                                                        </div>
                                                        <div class="latestListView">
                                                            <div class="d-flex justify-content-between  p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between  p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between  p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between  p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between  p-3  border-bottom">
                                                                <div class="d-flex align-items-center hover-pointer">
                                                                    <img class="img-xs rounded-circle" src="../../assets/img/faces/4.jpg" alt="">
                                                                    <div class="ml-2">
                                                                        <p class="comp-name">arcade web solution pvt. ldt.</p>
                                                                        <p class="tx-11 comp-type">software industry</p>
                                                                        <p class="tx-11 comp-address">425 National Ave Mountain view, CA 945582, US</p>
                                                                        <p class="tx-11 post-time">1 Day Ago</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="p-3">
                                                                <button class="btn btn-primary btn-block border">
                                                                    Load more
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
								</div>
								<!-- right wrapper end -->
							</div>
						</div>
						<!--profile page end -->
							</div>
							<!--/div-->
						</div>
						<!-- /row -->
					</div>
					<!-- Main-content-body closed -->
				</div>
				<!-- Container-fluid closed -->
<!-- Main-content closed -->
{% endblock %}

{% block script %}
		<script src="{% static 'assets/js/ATS/agency-profile-view.js' %}"></script>
{% endblock %}