
.descriptive_questions_action {
    float: right;
}
.descriptive_questions_action a {
    color: #0068ff;
    margin-left: 15px;
    font-size: 16px;
}
.descriptive_questions_action a.questions_trash{
    color: #ff5353;
}
.descriptive_questions{
    display: inline-block;
    width: 100%;
    background: #f8f9fb;
    border-radius: 10px;
    padding: 18px 18px;
    margin-bottom: 12px;
}
.descriptive_questions_no{
    float: left;
}

.descriptive_question_heading{
    display: flex;
}
.descriptive_question_heading .cardtitle{
    color: #031b4e;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
    margin-right: 15px;
}
.descriptive_question_heading span{
    color: #0068ff;
    font-size: 12px;
    background: #ebf1ff;
    padding: 4px 12px;
    border-radius: 10px;
}
.questions_details_text {
    width: 100%;
    display: inline-block;
    color: #041b4e;
    font-size: 14px;
    line-height: normal;
    margin-top: 18px;
}
.questions_title{
    color: #041b4e;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;  
}
.questions_details_text pre {
    color: #041b4e;
    padding: 12px 0 0;
    overflow: auto;
    font-size: 14px;
    line-height: 1.45;
    background-color: transparent;
    border-radius: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
input.coding_based_title_name {
    border-radius: 10px;
}
.basic_type_select {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.basic_type_select .rdiobox input[type='radio'] {
    margin: 2px 0;
}
.ql-wrapper-demo .ql-container {
    height: 80px;
}
.ql-toolbar.ql-snow {
    border-radius: 10px 10px 0 0;
    border: 2px solid #e2e8f5;
}
.ql-container.ql-snow {
    border: 2px solid #e2e8f5;
    border-radius: 0px 0px 10px 10px;
}
button.questionFormSubmit{
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 18px;
    background-color: #0068ff;
    background: #0068ff;
    float: right;
}
.questions_list_append_here {
    min-height: 248px;
}
.title_stage {
    color: #041b4e;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 11px;
    text-transform: capitalize;
    border-bottom: 3px solid #e2e8f5;
    padding-bottom: 3px;
}
.questions_details_text pre p{
    margin-top: 0;
    margin-bottom: 0rem !important;
    line-height: 6px;
}