.sidebar-mini .side-menu {
    margin: 85px 0 0 0;
}
.header-search-bar {
    padding-right: 38px;
}
.h_profile_view_d{
	z-index: 9999;
}
.demo_changer.active {
    z-index: 99999;
}
.profile_first_letter_pic {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #d4d9e0;
    height: 38px;
    width: 38px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    padding: 7px 0;
    background: #0068ff;
}
.h_profile_view_d .user_icon_img_profile img{
	 padding: 3px;
}
.side-menu span.side-menu__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}