<!-- commons/change-password.html -->
{% extends 'company/base.html' %}
{% load static %}
{% block title %}Change Password {% endblock %}
{% block css %}

{% endblock %}
{% block main %}

<div class="card main-content-body edit-profile-wrap">

    <div class="row header-title__section">
        
    </div>
    <div class="row row-sm">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <div class="main-form-section">
                <form method="post" data-parsley-validate="">
                    {% csrf_token %}
                    <div class="frame-layout">
                        <div class="card-body jc-inner-wrapper">
                            <div class="card-list-view">
                            <div class="custom-form">
                                <div class="row row-sm row-main">
                                    <div class="col-6 left-col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Old password::
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required id="id_old_password">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label">New password:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                New password confirmation:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"  pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$">

                                            <div class="matchMsg"></div>
                                        </div>

                                    </div>
                                    <div class="col-6 right-col">
                                        <div class="instruction_info">
                                            <span class="helptext"></span>
                                            <ul>
                                                <li>Your password can’t be too similar to your other personal information.</li>
                                                <li>Your password must contain at least 8 characters.</li>
                                                <li>Your password can’t be a commonly used password.</li>
                                                <li>Password should be at least a number, and at least a special character.</li>
                                                <li>Your password can’t be entirely numeric.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>









                                <!-- <div class="row row-sm">
                                    <div class="col-lg-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Old password::
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required id="id_old_password">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-control-label">New password:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                        <span class="helptext"></span>
                                        <ul>
                                            <li>Your password can’t be too similar to your other personal information.</li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can’t be a commonly used password.</li>
                                            <li>Your password can’t be entirely numeric.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-10">
                                    <div class="col-lg-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                New password confirmation:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/form-elements.js' %}"></script>
<script src="{% static 'assets/js/parsley.min.js' %}"></script>
<script src="{% static 'assets/js/form-validation.js' %}"></script>
<script type="text/javascript">
    $(window).ready(function(){
        $("#id_new_password2").on('keyup',function(){
            let reEnterPass = $(this).val();
            let newPass = $('#id_new_password1').val();
            if(reEnterPass != '' && newPass != ''){
                if(reEnterPass == newPass){
                    $(".matchMsg").html('<lable style="color:#0be821;">password match.</lable>');
                    setTimeout(function(){$(".matchMsg").html("");},5500)
                }else{
                    $(".matchMsg").html('<lable style="color:#ea0404;">password does not match.</lable>');
                    setTimeout(function(){$(".matchMsg").html("");},5500)
                }
            }
        })
    })
</script>
{% endblock %}

