{% extends 'company/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Coding Subjects{% endblock %}
{% block css %}
    <!--custom desciptive list css-->
    <link href="{% static 'assets/css/ATS/descriptive_all.css' %}" rel="stylesheet">
    <!-- - Internal Sweet-Alert css -->
    <link href="{% static 'assets/plugins/sweet-alert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

		<!-- Container-fluid -->
		<div class="container-fluid">

			<!-- Main-content-body -->
			<div class="main-content-body">
                {% csrf_token %}
				<!-- row opened -->
				<div class="row row-sm">
					<div class="col-xl-12">
						<div class="card descriptive_add mg-b-18">

							<div class="descriptive_view_header mg-b-0">
								<div class="card-header pb-0">
									<div class="d-flex justify-content-between">
										<div class="input-group mb-0">
											<span class="input-group-append search_btn">
												<button class="btn ripple" type="button"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="search_text form-control border-right-0 pl-3" value="" placeholder="Search Template">
										</div>
										<!-- <div class="descriptive_list_add_btn">
											{% if Add %}
											<a class="btn btn-add-list btn-block" data-effect="effect-scale" data-toggle="modal" href="#Add_subject_modal">Add Subject</a>													
											{% endif %}
										</div> -->

									</div>
									
								</div>	
							</div>	

						</div>
						<div class="row sub-container">
							{% if subject %}
								{% for sub in subject %}
									<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-3 sub-card">
										<div class="descriptive_questions">
											<!-- <a href="{% url 'company:coding_category_all' sub.id %}" target="_blank"> -->
												<div class="questions_details_text">
													{% ifequal sub.type 'backend' %}
														{{sub.api_subject_id.name}}
													{% else %}
														(Html/CSS/Js)
													{% endifequal %}

													<span>({{sub.type}})</span>

													{% ifequal sub.type 'backend' %}
														{% if Edit %}
															<a class="edit-btn questions_edit" data-id="{{sub.id}}" data-name="{{sub.api_subject_id.name}}"><i class="fas fa-edit"></i></a>
														{% endif %}
													{% endifequal %}
												</div>
													
												<div class="descriptive_questions_no">
													<div class="descriptive_question_heading">
														<input type="text" name="card-id" value="{{sub.id}}" hidden readonly>
														<div class="cardtitle">Total Questions :</div>
														<span>{{ sub.id|coding_total_questions }}</span>
													</div>
												</div>
											<!-- </a> -->
											<div class="descriptive_questions_action">
												<a class="i_color" href="{% url 'company:coding_category_all' sub.id %}" target="_blank"><i class="fas fa-plus"></i></a>
												<a class="i_color" href="{% url 'company:coding_question_view' sub.id %}"><i class="fas fa-eye"></i></a>
												{% if Delete %}
												<a class="delete-btn questions_trash"><i class="fas fa-trash-alt"></i></a>
												{% endif %}
											</div>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="fx-mini-card card no-data">
									<label class="tq-title text-capitalize">No Data Found</label>
								</div>
							{% endif %}
						</div>



					</div>
					<!--/div-->
			
				</div>
				<!-- /row -->
			</div>
			<!-- Main-content-body closed -->
		</div>
		<!-- Container-fluid closed -->


       <!-- Basic modal Add_subject_modal -->
            <!-- <div class="modal" id="Add_subject_modal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                            <h6 class="modal-title">Add Subject</h6>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form id="add-sub-form">
                            <div class="modal-body">
								<div class="formgroup_textbox">
									<label class="form-label">Subject Type :</label>
									<div class="d-flex mt-3">
										<label class="rdiobox mr-5"><input name="subjecttype" value="frontend" type="radio"> <span>Front-end</span></label>
										<label class="rdiobox"><input  name="subjecttype" value="backend" type="radio"> <span>Back-end</span></label>
									</div>
								</div>
                                <div class="formgroup_textbox mt-3 backend-subject" style="display: none">
                                    <label class="form-label">Subject:</label>
									<select id="subject_name" name="subject_name" class="form-control">
										{% for sub in api_subjects %}
											<option value="{{sub.id}}">{{sub.name}}</option>
										{% endfor %}
									</select> -->
<!--                                    <input class="form-control" placeholder="" type="text" id="subject_name" name="subject_name" required>-->
                                <!-- </div>
								 <div class="formgroup_textbox mt-3 frontend-subject" style="display: none">
									<label class="form-label">Subject:</label>
									<select id="frontend_subject_name" name="frontend_subject_name" class="form-control">
										<option value="html">(Html/css/Js)</option>
									</select> -->
<!--                                    <input class="form-control" placeholder="" type="text" id="subject_name" name="subject_name" required>-->
                                <!-- </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn ripple btn-primary add_Subject_list" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
        <!-- End Basic modal -->


		 <!-- Basic modal Edit_subject_modal -->
            <div class="modal" id="Edit_subject_modal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                            <h6 class="modal-title">Edit Subject</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form id="edit-sub-form">
                            <div class="modal-body">
                                <div class="formgroup_textbox  mt-3 edit-backend-subject">
                                    <label class="form-label">Subject:</label>
									<select id="edit_subject_name" name="edit_subject_name" class="form-control edit_subject_name">
										{% for sub in api_subjects %}
											<option value="{{sub.id}}">{{sub.name}}</option>
										{% endfor %}
									</select>
<!--                                    <input class="form-control edit_subject_name" placeholder="" type="text" name="edit_subject_name" required>-->
                                    <input type="hidden" class="subid">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn ripple btn-primary edit_Subject_list" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- End Basic modal -->

{% endblock %}

{% block script %}
		<!--- Internal Sweet-Alert js -->
		 <script src="{% static 'assets/plugins/sweet-alert/sweetalert.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/sweet-alert/jquery.sweet-alert.js' %}"></script>

    	<!-- Custom  -->
		 <script>
            function editsub(){
                var edit_sub='{{Edit|escapejs}}'
                return edit_sub
                }

            function deletesub(){
                var delete_sub='{{Delete|escapejs}}'
                return delete_sub
                }
        </script>
		<script src="{% static 'assets/js/ATS/coding_subject_all.js' %}"></script>
{% endblock %}