{% extends 'company/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Connections Request {% endblock %}
{% block css %}

		<link href="{% static 'assets/css/ATS/connection_request.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

				<!-- Container-fluid -->
				<div class="container-fluid">

					<!-- Main-content-body -->
					<div class="main-content-body">

						<!-- header-title -->
						<div class="header-title">
							<div class="mb-0 mb-lg-0 mb-xl-0">
								<h4 class="mb-2">Components</h4>
								<div class="main-content-breadcrumb"> <span>Components</span> <span>Data-tables</span> </div>
							</div>
							<div class="ml-auto my-auto">
								<a href="#" class="btn btn-primary"><i class="fe fe-plus-square"></i> Create Report</a>
								<a href="#" class="btn btn-pink"><i class="fe fe-external-link"></i> Export</a>
							</div>
						</div>
						<!-- header-title -->

						<!-- row opened -->
						<div class="row row-sm">
							<div class="col-xl-12">
								<div class="card candidate_view_main_section mg-b-10">
									<div class="card-header pb-0">
										<div class="d-flex justify-content-between" style="align-items: center;">
										
											<div class="tab-menu-heading">
												<div class="tabs-menu ">
													<!-- Tabs -->
													<ul class="nav panel-tabs">
														<li class=""><a href="#tab209" class="active" data-toggle="tab"> all request</a></li>
														<li><a href="#tab300" data-toggle="tab">all connections</a></li>
													</ul>													
												</div>
											</div>
											
											<div class="candidate_right_filters_section">												
																								
												<div class="candidate_filters_header">
													<a href=""><i class="fas fa-file-download"></i></a>
												</div>
												<div class="candidate_filters_header">
													<a href=""><i class="fas fa-filter"></i></a>
												</div>
												<div class="candidate_filters_header">
													<a href=""><i class="fas fa-print"></i></a>
												</div>
												<div class="candidate_filters_header">	
													<a href=""><i class="fas fa-ellipsis-v"></i></a>
												</div>

												<div class="search_box_section input-group mb-0">
													
													<span class="input-group-append search_btn">
														<button class="btn ripple" type="button"><i class="fa fa-search"></i></button>
													</span>
													<input type="text" class="search_text form-control border-right-0 pl-3" value="" placeholder="Search Template">
		
												</div>
												
											</div>
											
											
										</div>
										
									</div>
								
								</div>

								<div class="panel panel-primary mt-0 tabs-style-8">
									
									<div class="panel-body p-0">
										<div class="tab-content connection_req">
											<div class="tab-pane active" id="tab209">
												
												<div class="view_profile_card card mg-b-10 mg-t-0">
													{% if pending_connections %}
													{% for pending_connection in pending_connections %}
													<div class="card-body">
														<div class="cardheader">
															<div class="media list_external_box">
																<div class="media-user mr-2">
																	<div class="main_img-user"><img alt="" src="{{pending_connection.agency_id|agencyprofile:'logo'}}"></div>
																</div>
																<div class="media-body name_skils_title">
																	<div class="info_view_candidate_row">
																		{% if pending_connection.agency_id.agency_id.company_name %}
																		<h1 class="mb-0 mg-t-0 name">{{pending_connection.agency_id.agency_id.company_name}}</h1>
																		{% else %}
																		<h1 class="mb-0 mg-t-0 name">{{pending_connection.agency_id.agency_id.first_name}} {{pending_connection.agency_id.agency_id.last_name}}</h1>
																		{% endif %}
																	</div>
																	
																	<div class="media mg-t-5 profile_footer">
															
																		<div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-envelope"></i> {{pending_connection.agency_id.agency_id.email}}</div>
																		</div>
																		<div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-phone-alt"></i> {{pending_connection.agency_id|agencyprofile:'contact'}}</div>
																		</div>
																		<!-- <div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-map-marker-alt"></i> Ahmedabad, Gujarat, India</div>
																		</div>						 -->
																	</div>	
																	<!-- <div class="rate_details">
																		<ul>
																			<li>Commission Rate :- {{pending_connection.commission_rate}}%</li>	
																			<li>Please find the <a href="">Recruitment Policy</a>, <a href="">Payment Terms</a> and  <a href="{{pending_connection.contract_details.url|image_path_remove}}" id="contract" data-toggle="modal" data-target="#contract_details">Contract Details</a> for the recruitment agency.</li>
																			
																		</ul>
																	</div>						 -->
																</div>
																
																
															</div>
														</div>
														<div class="Business_req_footer">
															<div class="req_title">
																<i class="fas fa-business-time"></i> Requested For Business
															</div>
															<div class="candidate_view_header">
																<!-- <a class="btn btn-Accept btn-block" href="">Accept</a> -->
																<a class="btn btn-jobs btn-block" href="{% url 'company:request_view' pending_connection.id %}">View</a>
															</div>
														</div>	
													
													</div>
													{% endfor %}
													{% else %}
													<div class="Business_req_footer">
														<div class="req_title pl-3">
															<h3>No Request</h3>
														</div>
														
													</div>	
													{% endif %}	
												</div>
											
											   
											</div>
							
											<div class="tab-pane" id="tab300">
							
												<div class="view_profile_card card mg-b-10 mg-t-0">
													{% if active_connections %}
													{% for active_connection in active_connections %}
													<div class="card-body">
														<div class="cardheader">
															<div class="media list_external_box">
																<div class="media-user mr-2">
																	<div class="main_img-user"><img alt="" src="{{active_connection.agency_id|agencyprofile:'logo'}}"></div>
																</div>
																<div class="media-body name_skils_title">
																	<div class="info_view_candidate_row">
																		{% if active_connection.agency_id.agency_id.company_name %}
																		<h1 class="mb-0 mg-t-0 name">{{active_connection.agency_id.agency_id.company_name}}</h1>
																		{% else %}
																		<h1 class="mb-0 mg-t-0 name">{{active_connection.agency_id.agency_id.first_name}} {{active_connection.agency_id.agency_id.last_name}}</h1>
																		{% endif %}
																	</div>
																	
																	<div class="media mg-t-5 profile_footer">
															
																		<div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-envelope"></i> {{active_connection.agency_id.agency_id.email}}</div>
																		</div>
																		<div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-phone-alt"></i> {{active_connection.agency_id|agencyprofile:'contact'}}</div>
																		</div>
																		<!-- <div class="candidate_profile_footer">
																			<div class="candidate_profile_title"><i class="fas fa-map-marker-alt"></i> Ahmedabad, Gujarat, India</div>
																		</div>						 -->
																	</div>	
																	<div class="rate_details">
																		<ul>
																			<li>Commission Rate :- {{active_connection.commission_rate}}%</li>	
																			<li>Please find the <a href="">Recruitment Policy</a>, <a href="">Payment Terms</a> and  <a href="{{active_connection.contract_details.url|image_path_remove}}" class="contract" data-toggle="modal" data-target="#contract_details">Contract Details</a> for the recruitment agency.</li>
																			
																		</ul>
																	</div>						
																</div>
																
																
															</div>
														</div>
														<div class="Business_req_footer">
															<div class="req_title">
																<i class="fas fa-business-time"></i> Requested For Business
															</div>
															<div class="candidate_view_header">
																<!-- <a class="btn btn-Accept btn-block" href="">Accept</a> -->
																<a class="btn btn-jobs btn-block" href="{% url 'company:active_connection_view' active_connection.id %}">View</a>
															</div>
														</div>	
													
													</div>
													{% endfor %}
													{% else %}
													<div class="Business_req_footer">
														<div class="req_title pl-3">
															<h3>No Request</h3>
														</div>
														
													</div>	
													{% endif %}	
												</div>
							
											</div>
							
											
										</div>
									</div>
								</div>

							</div>
							<!--/div-->
					
						</div>
						<!-- /row -->
					</div>
					<!-- Main-content-body closed -->
				</div>
				<!-- Container-fluid closed -->
			</div>
			<!-- Main-content closed -->
			<!-- ASSIGN RECRUITER Modal 1 -->
			<div class="modal fade" id="contract_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header border-bottom-0 head-preview_modal">
							<h5 class="modal-title"></h5>
							
							<button type="button" id="popUpModelClose" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="popmodel-ir-table pd-l-10 pd-r-10">
							
							<embed src="" id="contract-pdf"
							frameborder="0" width="100%" height="400px">

						
						</div>
						
					</div>
				</div>
			</div>
   <!-- ASSIGN RECRUITER Modal 1 :End-->
{% endblock %}
{% block script %}
<script>
	$(document).ready(function() {
		

		$(".contract").on('click',function(e){
			
				$('#contract_details').modal('show');
				var pdfurl=$(this).attr("href");
				$("#contract-pdf").attr('src',pdfurl+'#toolbar=0&navpanes=0&scrollbar=0' );
			
		});

	});
</script>
{% endblock %}