{% extends 'company/base.html' %}
{% load static %}
{% block title %} Custom Stage {% endblock %}
{% block css %}
<link href="{% static 'assets/css/ATS/custom_template.css' %}" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="main-content-body">
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                    <div class="custom-form" style="padding:20px;">
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label text-capitalize font-weight-bold">Title:</label>
                                <span>{{custom_result_data.title}}</span>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-capitalize font-weight-bold">Interview Instructions:</label>
                                <span>{{custom_result_data.description}}</span>
                            </div>
                            {% if custom_result_data.file_input %}
                                <div class="form-group">
                                    <label class="form-label text-capitalize font-weight-bold">File:</label>
                                    <a href="{{custom_result_data.file_input.url}}" target="_blank">click here to view file</a>
                                </div>
                            {% endif %}
                        </div>
                        {% if custom_result_data.enable_response %}
                            <h3>Candidate Response</h3>
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label text-capitalize font-weight-bold">Instructions by candidate:</label>
                                    <span>{{custom_result_data.description_by_candidate}}</span>
                                </div>
                                {% if custom_result_data.submitted_file_by_candidate %}
                                    <div class="form-group">
                                        <label class="form-label text-capitalize font-weight-bold">Submitted file:</label>
                                        <a href="{{custom_result_data.submitted_file_by_candidate.url}}" target="_blank">click here to view file</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        <h3>scorecards</h3>
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="rating_section_main">
                                {% for scorecard in scorecards %}
                                <div class="rating_section_list">
                                      <div class="title_rating_m">Title :{{scorecard.title}}</div>
                                      <span class="Rating_title">Rating :</span>
                                      <div class="stars">
                                          <input type="radio" name="rating{{scorecard.id}}" value="1" required>
                                          <input type="radio" name="rating{{scorecard.id}}" value="2">
                                          <input type="radio" name="rating{{scorecard.id}}" value="3">
                                          <input type="radio" name="rating{{scorecard.id}}" value="4">
                                          <input type="radio" name="rating{{scorecard.id}}" value="5">
                                          <i></i>
                                      </div>
                                      <div class="text_field_title">Comment :</div>
                                      <textarea rows="3" class="form-control comment" name="comment{{scorecard.id}}" placeholder="comment.." required></textarea>
                                  </div>
                                {% endfor %}
                            </div>

                            <div class="submit_btn_rating">
                                <input class="rating_submit" id="rating_submit_button" type="submit" name="rating_submit">
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block script %}
{% endblock %}