{% extends 'company/base.html' %}
{% load static %}
{% block title %}Descriptive Add{% endblock %}

{% block css %}
	<!--custom desciptive add css-->
	<link href="{% static 'assets/css/ATS/descriptive_add.css' %}" rel="stylesheet">

	<!-- - Internal Sweet-Alert css -->
	<link href="{% static 'assets/plugins/sweet-alert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}

	<!-- Container-fluid -->
	<div class="container-fluid">
		<!-- Main-content-body -->
		<div class="main-content-body">
			<!-- row opened -->
			<div class="row row-sm">
				<div class="col-xl-12">
					<div class="card descriptive_add mg-b-0">
						
						<div class="card-body">
                           
                            {% if sub_id %}
							<form id="add-descriptive" action="{% url 'company:descriptive_add' sub_id %}">
                                {% csrf_token %}
								<!--Start Form Section-->
                                <div class="title_stage m-0"><span class="cap_text">Add New Question  |   Descriptive Based Subject:</span> {{subject_obj.subject_name}}</div>
								<div class="form-group__layout">
								<!--Basic Form-->
								<div class="basic_form" id="basicForm">
                                    <input type="hidden" id="subject_id" value="{{ sub_id }}">
									<div class="row row-sm mg-t-20">
										<div class="col-lg">
                                            <label>Please enter your question in below area.</label>

											<div class="row basicInfo-section">
												<div class="form-group col-lg mg-t-10 mg-lg-t-0">
													<textarea id="description_textarea" name="description_textarea"></textarea>
												</div>
											</div>

										</div>
									</div>

								</div>
								<!--Basic Form End-->
								
								</div>
								<!--form action button section-->
								<div class="descriptive_question_add_btn mg-t-0" id="question_add_Btns">
									<button class="btn btn-sm btn-primary questionFormSubmit btn-sm btn-rounded" type="submit">Add</button>
								</div>
								<!--form action button section End-->
							</form>
                            {% endif %}
						</div>
						<div class="questions_list_append_here card-header pb-0" id="Questions_list_Append">
                            {% if descriptive_que %}
                                {% for descriptive_ques in descriptive_que %}
                                    <div class="descriptive_questions">
                                        <input type="hidden" name="que_id" value="{{descriptive_ques.id}}">
                                        <div class="descriptive_questions_no">
                                            <div class="descriptive_question_heading">
                                                <div class="cardtitle">Q.</div>

                                            </div>
                                        </div>
                                        <div class="descriptive_questions_action">
                                            <!-- <a class="questions_edit"><i class="fas fa-edit"></i></a> -->
                                            <a class="questions_trash"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                        <div class="questions_details_text">
                                            {% autoescape off %}
                                            {{descriptive_ques.paragraph_description}}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
						</div>
					</div>
				</div>
				<!--/div-->
		
			</div>
			<!-- /row -->
		</div>
		<!-- Main-content-body closed -->
	</div>
	<!-- Container-fluid closed -->

{% endblock %}

{% block script %}		
	<!-- tinymce -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

    <!--- Internal Sweet-Alert js -->
	<script src="{% static 'assets/plugins/sweet-alert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sweet-alert/jquery.sweet-alert.js' %}"></script>

    <script>
        tinymce.init({
			selector: "#description_textarea",
			menubar: false,
			plugins: 'lists advlist',
			toolbar: 'bullist numlist bold',
			branding: 'False',
		});
        tinymce.init({
			selector: "#description_textarea_update",
			menubar: false,
			plugins: 'lists advlist',
			toolbar: 'bullist numlist bold',
			branding: 'False',
		});
        $(document).ready(function(){
            $('#add-descriptive').on('submit',async function(e) {
                e.preventDefault();
                tinymce.triggerSave();
                var my_editor_id = 'description_textarea';
                var que = $('#description_textarea').val();
                var textmsg = $.trim($(que).text());
                if(textmsg == ''){
                    alert('Please fill out the Question !!')
                    return false;
                }
                else{
                    var add_data={'que':que};
                    CreatedQuestion = JSON.parse(await Add_descriptive(add_data))
                    var tabClone = `<div class="descriptive_questions">
                                        <input type="hidden" name="que_id" value="`+CreatedQuestion['id']+`">
                                        <div class="descriptive_questions_no">
                                            <div class="descriptive_question_heading">
                                                <div class="cardtitle">Q.</div>

                                            </div>
                                        </div>
                                        <div class="descriptive_questions_action">
                                            <a class="questions_trash"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                        <div class="questions_details_text">
                                            `+CreatedQuestion['paragraph_description']+`
                                        </div>
                                    </div>`;
                    $('#Questions_list_Append').append(tabClone);
                }
                tinymce.get(my_editor_id).setContent(''); 
            });

            async function Add_descriptive(add_data){
                var subject_id = $('#subject_id').val();
                let url = "/company/descriptive_add/" + subject_id;
                console.log('url', url)
                const return_data = await $.ajax({
                    url:url,
                    headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val() },
                    type:'POST',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(add_data),
                    error: function (request, status, error) {
                            console.log(error);
                    }
                }).done(function(response){
                });
                return return_data
            }

            $(document).on('click','.questions_trash',function(){
                var data={'que_id':$(this).closest('.descriptive_questions').find('[name="que_id"]').val()}
                var question_card = $(this).closest('.descriptive_questions');

                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover deleted subjects!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },function(isConfirm) { //send ajax request for detele category action
                    if (isConfirm){
                        $.ajax({
                            url:"/company/delete_descriptive_question/",
                            headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val() },
                            type:'POST',
                            contentType: 'application/json; charset=UTF-8',
                            data: JSON.stringify(data),
                            error: function (request, status, error) {
                                  alert(error);
                            }
                        }).done(function(response){
                            if(response == 'True'){
                                swal("Deleted!", "Your question has been deleted.", "success");
                                question_card.remove();
                            }else{
                                swal("Error!", "Something Wrong !!", "error");
                            }
                        });
                    } else {
                        swal("Cancelled", "Your question is safe :)", "error");
                    }
                });
            })

        });
    </script>


{% endblock %}
