
.descriptive_view_header .card-header{
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.descriptive_questions_action {
    float: right;
}
.descriptive_questions_action a {
    color: #0068ff !important;
    margin-left: 10px;
    font-size: 14px;
}
.descriptive_questions_action a.questions_trash{
    color: #ff5353 !important;
    padding-right: 5px;
}
.descriptive_questions{
    display: inline-block;
    width: 100%;
    background: #f8f9fb;
    border-radius: 10px;
    padding: 18px 12px 10px;
    margin-bottom: 12px;
}
.descriptive_questions_no{
    float: left;
}
.descriptive_question_heading{
    display: flex;
}
.descriptive_question_heading .cardtitle{
    color: #031b4e;
    font-size: 13px;
    margin-right: 10px;
    padding-left: 5px;
}
.descriptive_question_heading span{
    color: #0068ff;
    font-size: 12px;
    background: #ebf1ff;
    padding: 2px 10px;
    border-radius: 8px;
}
.questions_details_text {
    width: 100%;
    color: #041b4e;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    border-bottom: 1px solid #e3e8f6;
    padding-bottom: 16px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.questions_details_text p{
    color: #041b4e;
    font-size: 14px;
    line-height: normal;    
}
button.questionFormSubmit{
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 18px;
    background-color: #0068ff;
    background: #0068ff;
    float: right;
}

.search_btn button{
    border: none;
    border-right: 0;
    background: #0068ff;
    border-radius: 10px 0px 0px 10px !important;
    padding: 5px 15px;
    height: 32px;
    color: #fff;
}
.search_btn button:hover{
    color: #fff;
}
.descriptive_view_header input.search_text{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #e2e8f5 !important;
    height: 32px;
}
.descriptive_view_header .input-group {
    width: 238px;
}

.descriptive_list_add_btn a.btn-add-list {
    color: #ffffff;
    background-color: #0068ff;
    border-color: #0068ff;
    border-radius: 10px;
    font-size: 14px;
    padding: 3.5px 12px;
}
.modal-open .formgroup_textbox .form-label {
    color: #031b4e;
    font-weight: normal;
}
.modal-title{
    color: #031b4e;
}
.formgroup_textbox .form-control {
    border-radius: 10px;
    height: 48px;
}
.add_Subject_list {
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 30px;
}
.edit_Subject_list {
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 30px;
}
.modal-content {
    border: 1px solid #d9e2f1;
    border-radius: 10px;   
}
.modal-footer {
    padding: 0 1rem 1rem;
    border-top: none;
}
.audio_sub_a .card-header{
    padding: 10px 10px !important;
}
.justify-contentbetween {
    justify-content: end;
}
.i_color i{
    color: #0068ff;
}
.questions_edit.ti_imag{
    text-align: right;
    float: right;
}
.image_ques_title {
    width: auto;
    float: left;
    margin-top: 9px;
}