{% extends 'agency/base.html' %}
{% load static %}
{% load candidate_extras %}
{% block title %}Audio Exam view{% endblock %}
{% block css %}

	<!--custom desciptive view css-->
	<link href="{% static 'assets/css/ATS/descriptive_view.css' %}" rel="stylesheet">

	<!-- - Internal Sweet-Alert css -->
	<link href="{% static 'assets/plugins/sweet-alert/sweetalert.css' %}" rel="stylesheet">

{% endblock %}
{% block main %}


         <!-- Main-content-body -->
        <div class="main-content-body">
            {% csrf_token %}
            <!-- header-title -->
            <div class="header-title">
                <div class="mb-0 mb-lg-0 mb-xl-0">
                    <h4 class="mb-2">Components</h4>
                    <div class="main-content-breadcrumb"> <span>Components</span> <span>Data-tables</span> </div>
                </div>
                <div class="ml-auto my-auto">
                    <a href="#" class="btn btn-primary"><i class="fe fe-plus-square"></i> Create Report</a>
                    <a href="#" class="btn btn-pink"><i class="fe fe-external-link"></i> Export</a>
                </div>
            </div>
            <!-- header-title -->
            
            <!-- row opened -->
            <div class="row row-sm">
                <div class="col-xl-12">
                    <div class="card add_view_main_section">
                        
                        <div class="row card-body mcq_list_inner pt-0 pb-0">
                            
                            <div class="col-md-12 col-xl-12 mcq_list p-0">

                                <div class="row header-title__section">

                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="template_selection_header one_header">
                                            <div class="h5 t_ty_50">Template Type : <span>Audio/Video</span></div>
                                            <div class="h5">Template Name : <span>{{exam_data.template.name}}</span></div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                                
                                <div class="col-12 full-list">      
                                    <div class="template_selection_header tow_header">
                                        
                                        <div class="h5 ">Subject Name : <span>{{exam_data.subject.subject_name}}</span></div>
                                        <div class="h5 ">Exam Name: <span>{{exam_data.exam_name}}</span></div>
                                        <div class="h5 ">Exam Type: <span>
                                            {% if exam_data.is_video %}
                                                Video
                                            {% else %}
                                                Audio
                                            {% endif %}
                                            </span></div>
                                        <div class="h5 ">Total Time: <span>{{exam_data.total_exam_time}}</span></div>    
                                        <div class="h5 ">Total Questions : <span>{{exam_data.total_question}}</span></div>
                                        
                                    </div>
                                   
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="row card-body pt-0 pb-0">
                            <div class="col-md-12 col-xl-12 mcq_list p-0">
                                <ul class="template_question_list_box">                                             
                                        {% for que in questions %}  
                                        <li class="list_q">
                                            <div class="slide-list row row-sm card mb-0">
                                                <div class="title-section col-12">
                                                    <div class="info-section fx-row">
                                                        <div class="fx-col-sm left-side">
                                                            <label class="tab-counter-label">{{forloop.counter}}</label>
                                                        </div>
                                                        <div class="fx-col-sm right-side">
                                                            <div class="marks_time">Marks : {{que.question_mark}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="short-details">
                                                        <div class="para-description">
                                                            {% autoescape off %}
                                                                {{ que.question.paragraph_description }}
                                                            {% endautoescape %}
                                                        </div>          
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                       {% endfor %}

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
                <!--/div-->
        
            </div>
            <!-- /row -->
        </div>
        <!-- Main-content-body closed -->  

	

{% endblock %}

{% block script %}

        <!--- Internal Sweet-Alert js -->
		<script src="{% static 'assets/plugins/sweet-alert/sweetalert.min.js' %}"></script>
		<script src="{% static 'assets/plugins/sweet-alert/jquery.sweet-alert.js' %}"></script>

		<!-- Custom  -->
		<!-- <script src="{% static 'assets/js/ats/paragraph-card-list.js' %}"></script> -->

		<script>
            $(document).ready(function(){
                $(document).on('click','.questions_trash',function(){
                    var data={'que_id':$(this).closest('.descriptive_questions').find('[name="que_id"]').val()}
                    var question_card = $(this).closest('.descriptive_questions');
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover deleted subjects!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },function(isConfirm) { //send ajax request for detele category action
                        if (isConfirm){
                            $.ajax({
                                url:"/agency/delete_descriptive_question/",
                                headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val() },
                                type:'POST',
                                contentType: 'application/json; charset=UTF-8',
                                data: JSON.stringify(data),
                                error: function (request, status, error) {
                                      alert(error);
                                }
                            }).done(function(response){
                                if(response == 'True'){
                                    swal("Deleted!", "Your question has been deleted.", "success");
                                    question_card.remove();
                                }else{
                                    swal("Error!", "Something Wrong !!", "error");
                                }
                            });
                        } else {
                            swal("Cancelled", "Your question is safe :)", "error");
                        }
                    });
                })
            });
        </script>
				
{% endblock %}