{% extends 'agency/base.html' %}
{% load static %}
{% block title %}Coding Question Marking{% endblock %}
{% block css %}
    <!--custom css-->
    <link href="{% static 'assets/css/ATS/coding_question_selection.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

            <!-- Container-fluid -->
            <div class="container-fluid">
                <!-- Main-content-body -->
                <div class="main-content-body">

                    <!-- row -->
                    <div class="row row-sm ">
                        <div class="col-12">
                            <div class="card audiencemetric">
                                <div class="card-body p-3">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                        <div class="col-12">
                                            <div class="add__exam-form">
                                                <div class="custom_question_get">
                                                    {% for que in questions %}
                                                    <div class="descriptive_questions">
                                                        <div class="descriptive_questions_no">
                                                            <div class="descriptive_question_heading">
                                                                <div class="cardtitle">{{ forloop.counter}}</div>
                                                                <span>{{que.question_id.question_type}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="descriptive_questions_action">
                                                            <label class="m-0 mt-1">
                                                                <input name="question_marks" placeholder="Enter Marks" type="text" value="">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="questions_details_text">
                                                            <div class="questions_title">{{que.question_id.coding_que_title}}</div>
                                                                {% autoescape off %}
                                                                <pre>
                                                                    {{que.question_id.coding_que_description}}
                                                                </pre>
                                                                {% endautoescape %}

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="d-flex add__exam-form-action">
                                                            <button class="btn btn-primary rounded-20" type="submit">Next</button>
                                                            <button type="button" class="btn btn-danger rounded-20 close-action">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- Main-content-body closed -->
            </div>
            <!-- Container-fluid closed -->
{% endblock %}

{% block script %}
{% endblock %}