.acv-main-continer {margin: 0;}
.fxh-title-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 0;
}
.upperside-section {
    border-bottom: 1px solid #e2e8f5;
}
.tab-div {
    display: flex;
    align-content: center;
    border-radius: 25px;
    background: #e2e8f5;
    gap: 5px;
}
.left-side-tab {
    display: flex;
    align-items: center;
}
.tab-div .toggle-tab {
    padding: 6px 20px;
    border-radius: 20px;
}
.left-tab, .right-tab{
    cursor: pointer;
}
.left-tab.active {
    background: #0068ff;
    color: #fff;
}
.tab-div .toggle-tab {
    padding: 6px 20px;
    border-radius: 20px;
}
.right-tab.active {
    background: #0068ff;
    color: #fff;
}
.top-button-group {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.btn-list .icon-btn {
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
}
.btn-list .icon-btn {
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    gap: 8px;
}
.reject-box-ls label {
    margin: 0;
}
/******/
.two-col__container {
    margin: 15px 0;
}
.leftside-panel {
    border: 2px solid #e2e8f5;
}
.parent-main-section {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px;
}
.filter-tab-section h5 {
    position: relative;
    height: 30px;
}
.filter-tab-section h5::after {
    content: "";
    position: absolute;
    border-bottom:  1px solid #e2e8f5;
    width: 109%;
    left: -10px;
    bottom: -5px;
}
.child-filter__ls {
    list-style: none;
    margin: 0;
    padding: 0;
}
.child-filter__ls .fx-sm__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}
.child-filter__ls .fx-sm__list .flt-sub-title {
    margin: 0;
}
.main-ls__inputform .checked-filter-ls {
    list-style: none;
    margin: 0;
    padding: 0;
}
.checked-filter-ls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checked-filter-ls li label {
    margin: 0;
}
.main-ls__inputform .input-miniform {
    margin: 10px 0;
}
.main-ls__inputform {
    position: relative;
    padding: 14px 0;
}
.main-ls__inputform::before {
    content: "";
    position: absolute;
    border: 1px solid #e2e8f5;
    top: 0;
    width: 109%;
    left: -10px;
}
.main-ls__inputform input[type='checkbox'] {
    visibility: hidden;
}
.input-miniform {
    display: flex;
    gap: 10px;
}
.rangeSliderView {
    display: unset !important;
}
/**RIGHT COLUMN**/
.tab-listing {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 10px 0;
    border: 2px solid #e2e8f5;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.fx-left_section {
    flex: 70%;
    position: relative;
}
.fx-right_section {
    flex: 30%;
}
.profile_view {
    display: flex;
    /* justify-content: flex-start;
    align-items: center; */
}
.candidate_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    color: #031A4C;
}
.row_up, .row_down{
    width: 100%;
}
.row_up .presonal-info {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.presonal-info li {
    flex: 1 1 auto;
    width: 33.3%;
}
.presonal-info li:last-child {
    display: flex;
    gap: 10px;
}
.relative-tag {
    background: #031A4C;
    color: #fff;
    padding: 0 16px;
    border-radius: 10px;
}
.row_down .candidate_carrier-ls {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* gap: 25px; */
    justify-content: space-between;
    align-items: center;
}
.stage-type-title {
    width: 100%;
    background: #e2e8f5;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 0 10px;
    color: #0068ff;
}
.row_down .candidate_carrier-ls li {
    flex: 1 1 auto;
    width: 100%;
    position: relative;
}
.candidate_carrier-ls li:nth-child(2):before {
    border-left: 2px solid #e2e8f5;
    content: "";
    position: absolute;
    height: 85%;
    left: -15px;
}
.candidate_carrier-ls li:nth-child(2):after {
    border-right: 2px solid #e2e8f5;
    content: "";
    position: absolute;
    height: 85%;
    right: 8px;
    top: 0;
}
.profile_view .candidate_avtar {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 95px;;
}
.candidate_avtar img {
    width: 52px;
    height: 52px;
}
.fx-right_section .score-ls {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    width: 96%;
}
.notification-bar {
    position: absolute;
    top: 0;
    right: 1px;
    background: #FD5354;
    padding: 3px 5px;
    border-radius: 0px 8px 0 15px;
    color: #fff;
}
.score-ls .twise-col .fx-twise {
    display: flex;
    gap: 25px;
}
.score-ls .twise-col .fx-twise .score-view {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    padding: 2px 5px;
    border: 1px solid #4f4f4f;
}
select.mini-selector {
    border-radius: 10px;
    background: #ECF0FF;
    color: #0068FF;
}
.score-view label {
    margin: 0;
    padding: 3px 0;
    font-size: 11px;
}
.score-view label:nth-child(1) {
    font-weight: 600;
}
.percent-view {
    background: #58BD2E;
    width: 35%;
    border-radius: 20px;
    text-align: center;
    /* min-width: 45px; */
    color: #fff;
}
.classic-rating .rating-star {
    padding: 0 2px 0 2px !important;
    line-height: 14px;
}
.rating-stars-container i {
    font-size: 12px;
}
.classic-rating .rating-star.is--active, .rating-stars .rating-stars-container .rating-star.is--hover {
    color: #0068FF !important;
}
.flag-border {
    position: absolute;
    height: 123%;
    width: 7px;
    top: -10px;
    left: 0px;
    border-radius: 29px 0 0 25px;
}
/**tab view toggle**/
#kanbanViewTab{display: none;}
/**tab view toggle end**/

/**side panel preview**/
.applyCandidatePreview { position: relative;}
.sidebar-preview {width: 0%;margin-left: 0px !important;margin-right: 0px !important;right: 0px;position: absolute;top: 0px;height: calc(100vh - 70px);border: 0px;transition: all .4s ease-in-out;visibility: hidden;z-index: 999;}
.sidebar-preview:after {content: "";opacity: 0.5;top: 0;left: 0;bottom: 0;right: 0;position: absolute;z-index: 1;width: 100%;background: #000;}
.side-barContainer {position: absolute;overflow:auto;width: 70%;right: 0;height: 100%;z-index: 2;padding: 0px !important;}
.slideClose {
    font-size: 24px;
    padding: 5px 4px;
    background: #eaeaea;
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 25px;
    top: 50%;
    right: calc(68%);
    cursor: pointer;
    z-index: 99999;
    margin: 0 0px 0 auto;
    text-align: center;
}
body.body_overflow{
    overflow: hidden;
}
/*.slideClose {font-size: 24px;padding: 23px 14px;background: #eaeaea;width: 45px;position: relative;border-radius: 25px;top: 50%;left: -24px;cursor: pointer;z-index: 99999;}*/
/*.slideClose .fa-chevron-right {position: absolute;top: 11px;}*/
/*.slideClose.inside{left: 0px;}*/
.side-bar-row{margin: 0;padding:15px;position: relative;}
/*.preview-list-container.side-bar-row {
    top: -45px;
}*/
/***side panel header***/
.profile-section_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fxt-left, .fxt-right {
    flex: 1 1 50%;
}
.fxt-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.name-skills {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name-skills label {
    margin: 0px;
}
.name-skills strong {
    padding: 0 5px 0 0;
}
.fxt-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.fxt-right .fx-twise {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    align-items: flex-start;
    gap:5px;
}
.fxt-left .avatar-img {
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-radius: 45px;
    border: 1px solid #e2e8f5;
    justify-content: center;
}
.fxt-right .fx-twise .score-view {
    flex: 1 1 auto;
}
.category__selector .cat-select {
    border: none;
    padding: 0 5px;
    background: #EBF1FF;
    border-radius: 23px;
    color: #0068FF;
    font-size: 11px;
}
.fxt-right .fx-twise .score-view:last-child {
    justify-content: flex-start;
    align-items: self-start;
    border: 0;
    gap: 0;
}
.fxt-right .fx-twise .score-view {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    padding: 2px 5px;
    border: 1px solid #4f4f4f;
}
.score-view #hiredCandidate {
    width: 100%;
}
.info-group-list {
    display: flex;
    margin: 0;
    padding-left: 93px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 15px;
}
.info-group-list .btm-text {
    padding-left: 18px;
}
.info-group-list label {
    margin: 0;
}
.info-group-list .c-title {
    font-weight: 500;
}
/***bottom slide tabs***/
.nav-item {
    position: relative;
}
.panel-tabs.main-nav-line {
    border-bottom: 2px solid #e2e8f5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.panel-tabs.main-nav-line  .nav-item {
    width: 120px;
}
.nav-link.active:after {
    content: "";
    border-bottom: 2px solid #0068ff;
    width: 100%;
    bottom: -2px;
    left: 0;
    position: absolute;
}
.panel-tabs.main-nav-line  .nav-link {
    text-align: center;
}
.steps-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.steps-list .title-text .icon-view {
    border: 1px solid #CDD5EC;
    border-radius: 15px;
    padding: 14px;
    margin: 0 12px 0 0;
    position: relative;
    top: 2px;
    color: #CDD5EC;
}
.title-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px 0;
}

.title-text label {
    margin-top: 6px;
    margin-bottom: 0px;
}
.title-text .text-bold {
    margin-right: 8px;
}
.steps-list li {
    position: relative;
}
.steps-list li:nth-child(1):before{display: none;}
.steps-list li:before {
    content: "";
    border-left: 2px solid #CDD5EC;
    top: -30px;
    left: 14px;
    position: absolute;
    height: 100%;
}
.icon-view i {
    position: absolute;
    left: 8px;
    top: 7px;
}
/**
list indication view
->complete
->progess
->failed
->disable
**/
.steps-list li.disable label {
    color: #cdd5ec;
}
.steps-list li.complete .icon-view{
    background: green;
    color: #fff;
}
.steps-list li.progess .icon-view{
   background: #F6EBD7;
    color: orange;
    border-color: orange;
    animation: 0.9s ease-out 0s infinite normal none running pulse-danger;
}
.steps-list li.failed .icon-view{
    background: #ff5353;
    color: #fff;
    border-color: #ff5353;
}

.steps-list li.disable .icon-view{
    background: transparent;
    color: #cdd5ec;
    border-color: 1px solid #cdd5ec;
}

.steps-list li:nth-child(3) .icon-view i, .steps-list li:nth-child(4) .icon-view i {
    left: 9px;
}
.steps-list .danger-bedge {
    background: #ff5353;
    border-radius: 11px;
    padding: 0 7px;
    color: #fff;
}
/**left details section first tab**/
.info__list-view {
    padding: 0;
    margin: 0;
    list-style: none;
}
.info__list-view li {
    margin-bottom: 10px;
}
.info-mini-title {
    color: #031A4C;
    font-weight: 500;
}
.info-mini-title span {
    font-weight: normal;
}
.mini-details.active {
    color: #0068ff;
}
.mini-details {
    color: #adadad;
}
.done {
    color: #58BD2E;
}
.avrage {
    color: #ff5353;
}
.subdetails-info__view {
    display: flex;
    flex-direction: column;
}
.subdetails-info__view label {
    margin-bottom: 0px;
}
.plan-description {
    color: #adadad;
}
.scatch-layout {
    margin-top: 45px;
}
.scatch-viewer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.scatch-viewer li {
    flex: 1 1 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
/**footer**/
.left-btns {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.left-btns li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left-btns li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    min-width: 125px;
    align-items: center;
}
.left-btns .select-btn {
    width: 18px;
    line-height: 0px !important;
}
.left-btns label {
    margin: 0px;
}
.footer__row {
    margin: 0;

}
.footer__action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fxt-left.profile_name_d {
    align-items: center;
    justify-content: flex-start;
}
.footer__action-btns .left-btns button.cg{
    border: 1px solid #008000;
    color: #008000;
}
.footer__action-btns .left-btns button.cy{
   border: 1px solid #ffa500;
    color: #ffa500;
}
.footer__action-btns .left-btns button.cr{
  border: 1px solid red;
    color: red;
}
.footer__action-btns .left-btns button.btn.btn-sm.btn-primary{
    background-color: #fff;
    font-weight: 500;
}