.apply_job_main_header {
    background: #0068ff;
    padding: 18px 0;
    margin-bottom: 15px;
}
.apply_job_main_content {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.main-content-mcq {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    min-height: 514px;
}
.app.main-body.sidebar-mini.sidenav-toggled .main-footer {
    margin-left: 0;
}
.main-content-mcq .file-browser .btn-default {
    padding: 0.76rem 15px;
}
.technologies_title {
    color: #031b4e;
    font-size: 18px;
    font-weight: 500;  
}
.technologies_title span {
    font-size: 16px;
    padding-left: 10px;
}
.mcq_test_name {
    color: #7987a1;
    font-size: 14px;
    line-height: normal;
}
.mcq_test_time_title {
    color: #031b4e;
    font-size: 16px;
}
.mcq_test_time_count {
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #031b4e;
}
.technologies_info {
    float: left;
}
.mcq_test_time_section {
    float: right;
    text-align: right;
}

.question_listing_count {
    color: #7787a0;
    font-size: 16px;
}
.question_text {
    color: #031b4e;
    font-size: 16px;
    line-height: normal;
    margin-top: 10px;
    font-weight: 500;
}
.option_tab_q span {
    color: #031b4e;
    font-size: 16px;
}
.question_option_box {
    margin-top: 0px;
    margin-left: 0px;
}
.option_tab_q .rdiobox span {
    padding-left: 10px;
}
.option_tab_q input[type='radio'] {
  
    margin: 2px 0;
}
.Question_listing {
    width: 100%;
    display: inline-block;    
}
.ckbox_q {
    font-weight: normal;
    position: relative;
    display: block;
    line-height: 18px;
}
.ckbox_q span {
    padding-left: 15px;
}
.review_Response_btn {
    float: left;
}
.previous_next_btn {
    float: right;
}
.review_Response_btn .review_Response {
    color: #0068ff;
    background-color: #ecf1fe;
    border-color: #ecf1fe;
    font-size: 16px;
    margin-right: 7px;
    padding: 2px 10px;
    width: 150px;
    border-radius: 10px;
    font-weight: 500;
}
.previous_next_btn .QuestionSubmit {
    color: #ffffff;
    background-color: #0068ff;
    border-color: #0068ff;
    font-size: 16px;
    margin-left: 7px;
    padding: 4px 10px;
    width: 120px;
    font-weight: 500;
}
.previous_next_btn .btn_previous{
    border-radius: 10px 0 0 10px;
}
.previous_next_btn .btn_next{
    border-radius: 0px 10px 10px 0px;
}
.QuestionSubmit_btn {
    width: 100%;
    display: inline-block;
    margin-top: 37px;
}
.calendar_user_img {
    text-align: center;
}
.calendar_user_img img{
    border-radius: 10px;
}
.calendar_user_name {
    font-size: 22px;
    color: #031b4e;
    font-weight: 500;
    text-align: center;
    padding-top: 9px;
    line-height: normal;
}

.selection_info ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.selection_info ul li{
    width: 36%;
    color: #031b4e;
    float: left;
    position: relative;
    font-size: 14px;
    margin-left: 14%;
    padding: 4px 0px;
}
.selection_info ul li::before{
    content: "";
    position: absolute;
    top: 9px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;   
}
.selection_info ul li.answer_t::before{
    background: #51bb25;
}
.selection_info ul li.review_t::before{
    background: #f2ab4f;
}
.selection_info ul li.skip_miss_t::before{
    background: #ff5353;
}
.selection_info ul li.not_visited_t::before{
    background: #dadfe2;
}
.selection_info {
    padding: 2px 0;
}
.question_selection_info ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.question_selection_info ul li{
    list-style-type: none;
    float: left;
    width: 17%;
    text-align: center;
    margin: 5px 1.5% 0 1.5%;
    font-size: 16px;
    color: #031b4e;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px 5px;
    background-color: #f2f6f9;
    border: 1px solid transparent;
}
.question_selection_info ul li.answer {
    background-color: #51bb25;
    color: #ffffff;
}
.question_selection_info ul li.skip {
    background-color: #ff5353;
    color: #ffffff;
}
.question_selection_info ul li.review {
    background-color: #f2ab4f;
    color: #ffffff;
}
.question_selection_info ul li.notvisited {
    background-color: #f2f6f9;
    color: #031b4e;
}
.quit_exam_btn{
    float: right;
    padding-top: 4px;
}
.quit_exam_btn a{
    color: #ffffff;
    background-color: #ff5353;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}
.quit_exam_btn a i{
    vertical-align: middle;
    padding-left: 4px;
}
.question_selection_info {
    height: 252px;
    overflow-x: auto;
}
.candidate_image_exam {
    width: 100%;
    display: inline-block;
}
.questionimage_exam_section{
    width: 50%;
    float: left;
    padding-right: 20px;
    overflow-x: auto;
    height: 300px;
}
.question_optionlist_img{
    width: 50%;
    float: left;
    padding-left: 20px;
    border-left: 2px solid #e2e8f5;
}
.question_image {
    text-align: center;
    margin: 40px 20px auto;
}
.ans_option_image {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 42px;
}
.ans_option_image img{
    max-width: 70%;
}