.ratingFormLayout {
    margin: 0;
}
.title-bar {
    margin: 15px 0;
}
.title-bar h3 {
    font-size: 16px;
}
.select-choice__tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
}
.select-choice__tab .option-ls {
    width: 20%;
}
.rating__internalform .col-4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.rating__internalform .col-4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.cmt-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cmt-text {
    flex: 4;
}
.comment-action {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.cmt-text {
    max-height: 38px;
}
.delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: #ff5353;
}
.rating__internalform {
    margin-bottom: 10px;
}
.cloneHandler,.submitHandler {
    display: flex;
    justify-content: flex-end;
}
.clone-btn {
    color: #0068ff;
    cursor: pointer;
    padding: 5px 12px;
    font-weight: bold;
    margin-top: 12px;
}
#submit {
    min-width: 112px;
    font-weight: 500;
    font-size: 13px;
}
.rate-cover{
    width: 100%;
    position: relative;
}
.rate-cover .rating-stars-container {
    position: absolute;
    left: 0;
    line-height: 1;
}
.rate-cover .rating-stars-container .rating-star i{
    font-size: 18px;
}
.rating-point label {
    padding-left: 8px;
}


.stars {
    --s:25px;
    position:relative;
    display:inline-flex;
    border: none;
    outline: none;
}
.stars input {
    width:var(--s);
    height:var(--s);
    margin:0;
    opacity:0;
    cursor:pointer;
}

.stars i {
    position:absolute;
    inset:0 0 calc(var(--s)*0.1);
    pointer-events:none;
    --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
    --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
    -webkit-mask:
      conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
      conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
      conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
      conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
    -webkit-mask-size: var(--s) var(--s);
    -webkit-mask-composite: xor,destination-over;
    mask-composite: exclude,add;
    background:
      linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),
      linear-gradient(gold                       0 0)
      #ccc;
    background-size:calc(var(--l,0)*var(--s)) 100%,calc(var(--p,0)*var(--s)) 100%;
    background-repeat:no-repeat;
}

.stars:focus-within {
outline:1px solid;
}

.stars input:active ~ i{--o:1}

.stars input:nth-of-type(1):checked ~ i {--p:1}
.stars input:nth-of-type(2):checked ~ i {--p:2}
.stars input:nth-of-type(3):checked ~ i {--p:3}
.stars input:nth-of-type(4):checked ~ i {--p:4}
.stars input:nth-of-type(5):checked ~ i {--p:5}
.stars input:nth-of-type(6):checked ~ i {--p:6}
.stars input:nth-of-type(7):checked ~ i {--p:7}
.stars input:nth-of-type(8):checked ~ i {--p:8}
.stars input:nth-of-type(9):checked ~ i {--p:9}
.stars input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

.stars input:nth-of-type(1):hover ~ i {--l:1}
.stars input:nth-of-type(2):hover ~ i {--l:2}
.stars input:nth-of-type(3):hover ~ i {--l:3}
.stars input:nth-of-type(4):hover ~ i {--l:4}
.stars input:nth-of-type(5):hover ~ i {--l:5}
.stars input:nth-of-type(6):hover ~ i {--l:6}
.stars input:nth-of-type(7):hover ~ i {--l:7}
.stars input:nth-of-type(8):hover ~ i {--l:8}
.stars input:nth-of-type(9):hover ~ i {--l:9}
.stars input:nth-of-type(10):hover ~ i {--l:10}

.Comment_title_main {
    color: #021c4c;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 12px;
    border-bottom: 2px solid #e2e8f5;
}
.Comment_title_main span{
    color: #ff5353;
    display: inline-block;
    float: right;
}
.rating_section_video {
    padding: 30px 12px 0 12px;
}
span.Rating_title {
    font-size: 14px;
    color: #021c4c;
    vertical-align: top;
    padding-right: 7px;
    font-weight: 500;
}
.text_field_title {
    color: #031b4e;
    padding-bottom: 5px;
    margin-top: 13px;
    font-weight: 500;
}
textarea.comment{
    border-radius: 10px;
}
.submit_btn_rating .rating_submit{
    color: #ffffff;
    background-color: #0068ff;
    border-radius: 10px;
    font-size: 14px;
    padding: 8px 23px;
    border: none;
    outline: none;
}
.submit_btn_rating {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;
}
.rating_section_main {
    overflow: auto;
    height: 71vh;
}
.rating_section_list {
    margin-bottom: 30px;
}
.title_rating_m{
    font-size: 14px;
    color: #021C4C;
    vertical-align: top;
    font-weight: 500;
    margin-bottom: 8px;
}
.template_selection_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #e2e8f5;
    padding: 17px 15px 12px;
    gap: 10px;
}
.template_selection_header.one_header {
    justify-content: normal;
}
.template_selection_header.one_header .t_ty_50 {
    width: 50%;
}
.cus_line {
    border-top: 2px solid #d8ddee;
    padding-top: 20px;
    margin-top: 25px;
}
.submitHandler {
    display: flex;
    justify-content: flex-end;
}
.cus_line button {
    min-width: 112px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0068ff;
    border: none;
    padding: 7px 10px;
}
.form-control {
    height: 40px;
}
#enable_file_input{
     width: 25px;
    float: right;
    margin: -8px 10px 10px 10px;
}